.task-list {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 25px var(--shadow-color);
    padding: 20px;
}

.task-heading {
    color: var(--primary-color); 
    margin-bottom: 10px;
}

button {
    margin-top: 15px;
}